.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.book {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 70rem;
  height: 100%;
}

.recipes__box {
  list-style-type: none;
}
