:root {
  --font--size--primary: 1.5rem;
  --color-primary: rgb(229, 223, 136);
  --color-secondary: rgb(163, 126, 186);
  --color-white: rgb(232, 232, 232);
  --color-dark: rgb(76, 76, 76);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.app {
  background-color: var(--color-primary);
}

input {
  padding-left: 1rem;
}
