.nav__box {
  background-color: var(--color-dark);
  color: var(--color-white);
  width: 100%;

  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: relative;
}

.nav__box_ham {
  margin-right: 2rem;
  cursor: pointer;
}

.nav__box_ham > div {
  width: 4rem;
  height: 0.5rem;
  background-color: var(--color-white);
}

.nav__box_ham > div:first-child {
  transform: translateY(-0.5rem);
}
.nav__box_ham > div:last-child {
  transform: translateY(0.5rem);
}
