.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.book {
  display: flex;
  border: dashed 1px #000000;
  position: relative;
  width: 70%;
  min-width: 70rem;
}

.recipes__box {
  list-style-type: none;
}
